@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");

* {
  font-family: "Noto Sans Mono", monospace;
}

html,
body {
  cursor: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #21222c;
}

/* Hide scrollbar and keep functionality for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}
#canvas2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  /* blocked events below this canvas */
  pointer-events: none;
}

#loopcover {
  pointer-events: none;
  left: 5%;
  width: 60%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    #21222cff 55%,
    #21222cf0 65%,
    /* #21222ca0 80%, */ #21222c00 75%,
    #21222c80 95%,
    #21222cf0 100%
  );
}
#loopcontent {
  z-index: 1;
  top: 60%;
  left: 10%;
  height: 40%;
  width: 50%;
  position: absolute;
  overflow-y: scroll;
}

.name {
  background-position: 0% top;
  /* background: -webkit-linear-gradient(#8be9fd, #bd93f9); */
  background: linear-gradient(to bottom, #8be9fd 40%, #bd93f9 60%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* padding-top: 10%; */
  /* padding-bottom: 5%; */

  /* color: #bd93f9; */
  display: block;
  margin: 0;
  /* transform: translate(-50%, -50%); */
  font-size: 4.2vw;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}
.clock {
  z-index: 1;
  color: #21222c;
  position: absolute;
  margin: 0;
  width: 100%;
  right: 1%;
  text-align: right;
}
